transformers==4.40.0
torch==2.2.2
tokenizers==0.19.1
streamlit==1.33.0
PyPDF2
huggingface-hub==0.22.2
google==3.0.0
google-ai-generativelanguage==0.6.2
google-api-core==2.18.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.2
googleapis-common-protos==1.63.0
dotenv==0.0.5